.wrapper {
  position: sticky;
  top: 0;
  padding: 0px;
  background: #000;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.text {
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
}

.logo-wrapper:hover .text {
  text-decoration: line-through;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menu-item {
  padding: 15px;
  opacity: .6;
}

.menu-item.active {
  opacity: .9;
}

.menu-item:hover {
  opacity: 1;
}